/*
FlexBox - tag 'form' (cadastro.css)
Divisão do conteúdo com Divs - site completo
Menu navegável - Nav (style.css)
Padronização de cores e fontes - site completo
Utilização de imagens - logo (nav) e app (index.html)
*/

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
    background-color: white;

}

.nav__cor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 15px;
    padding:0;
    border-radius: 20px;
    
}

nav {
    margin-right: 15rem;
}


.header {
    height: 3.5em;
    background-color: #d7e1fa;
    justify-content: space-between;
}

a {
    text-decoration: none;
    width: auto;
}

.header, .header nav {
    display:flex;
    align-items: center;
    padding: 1.7em;
    gap: 0.7em;
}

a:hover {
    color: #839eeaac;
    transition: 0.2s;
}

.titulo {
    text-align: center;
    font-size: 50px;
    font-weight: 450;
}
.paragrafo {
    margin: 0 10%;
    font-size: larger;
}

#container-saude{
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 83vh;
}

#appContainer{
    width: 500px;
    margin: 0 30%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    
} 
.app{
    width: 90%;
    margin: 1rem;
}

    
.rodape {
    background-color: #c8c8c8;
    height: auto;
    color: black
}

.contatos {
    display: flex;
    justify-content: space-around;
    padding: 6rem;
}

.redes-sociais {
    text-align: center;
}

.logo-redes-sociais {
    width: 60px;
}

#rodape-local {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
    align-items: center;
    gap: 2em;
}

#endereco {
    font-size: 20px;
    color: black;
}

#date {
    color: white;
}
